h1{
    font-size: 40px;
    text-align: center;
}
.explain{
    background-color: crimson;
    padding:20px;
}
#container{
    border: 2px;
    padding: 10px;
    margin-top: 30px;
    background-color: silver;
}
body{
    background-color: wheat;
}
.card{
    margin-top: 40px;
    padding: 20px;
    border: solid;
    background-color: lightblue;
    margin-right: 40%;
    margin-left: 40%;
}